jee/wsapp/PublishingApp/src/conf/xml-resources/web-service-references/PublishBean/wsdl/localhost_8080/PublishBeanService/PublishBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="PublishBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/PublishBeanService/PublishBean?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllSubscriptionsOfCustomer">
<part name="parameters" element="tns:getAllSubscriptionsOfCustomer"/>
</message>
<message name="getAllSubscriptionsOfCustomerResponse">
<part name="parameters" element="tns:getAllSubscriptionsOfCustomerResponse"/>
</message>
<message name="getSubscriptionsByType">
<part name="parameters" element="tns:getSubscriptionsByType"/>
</message>
<message name="getSubscriptionsByTypeResponse">
<part name="parameters" element="tns:getSubscriptionsByTypeResponse"/>
</message>
<message name="getAllSubscription">
<part name="parameters" element="tns:getAllSubscription"/>
</message>
<message name="getAllSubscriptionResponse">
<part name="parameters" element="tns:getAllSubscriptionResponse"/>
</message>
<message name="getAddressesByCity">
<part name="parameters" element="tns:getAddressesByCity"/>
</message>
<message name="getAddressesByCityResponse">
<part name="parameters" element="tns:getAddressesByCityResponse"/>
</message>
<message name="getAddressesOfCustomer">
<part name="parameters" element="tns:getAddressesOfCustomer"/>
</message>
<message name="getAddressesOfCustomerResponse">
<part name="parameters" element="tns:getAddressesOfCustomerResponse"/>
</message>
<message name="getCustomersByLastName">
<part name="parameters" element="tns:getCustomersByLastName"/>
</message>
<message name="getCustomersByLastNameResponse">
<part name="parameters" element="tns:getCustomersByLastNameResponse"/>
</message>
<message name="getCustomersByFirstName">
<part name="parameters" element="tns:getCustomersByFirstName"/>
</message>
<message name="getCustomersByFirstNameResponse">
<part name="parameters" element="tns:getCustomersByFirstNameResponse"/>
</message>
<message name="getAllCustomers">
<part name="parameters" element="tns:getAllCustomers"/>
</message>
<message name="getAllCustomersResponse">
<part name="parameters" element="tns:getAllCustomersResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"/>
</message>
<message name="updateCustomerResponse">
<part name="parameters" element="tns:updateCustomerResponse"/>
</message>
<message name="removeCustomer">
<part name="parameters" element="tns:removeCustomer"/>
</message>
<message name="removeCustomerResponse">
<part name="parameters" element="tns:removeCustomerResponse"/>
</message>
<message name="addAddressOfCustomer">
<part name="parameters" element="tns:addAddressOfCustomer"/>
</message>
<message name="addAddressOfCustomerResponse">
<part name="parameters" element="tns:addAddressOfCustomerResponse"/>
</message>
<message name="removeAddressOfCustomer">
<part name="parameters" element="tns:removeAddressOfCustomer"/>
</message>
<message name="removeAddressOfCustomerResponse">
<part name="parameters" element="tns:removeAddressOfCustomerResponse"/>
</message>
<message name="updateAddressOfCustomer">
<part name="parameters" element="tns:updateAddressOfCustomer"/>
</message>
<message name="updateAddressOfCustomerResponse">
<part name="parameters" element="tns:updateAddressOfCustomerResponse"/>
</message>
<message name="addSubscription">
<part name="parameters" element="tns:addSubscription"/>
</message>
<message name="addSubscriptionResponse">
<part name="parameters" element="tns:addSubscriptionResponse"/>
</message>
<message name="updateSubscription">
<part name="parameters" element="tns:updateSubscription"/>
</message>
<message name="updateSubscriptionResponse">
<part name="parameters" element="tns:updateSubscriptionResponse"/>
</message>
<message name="removeSubscription">
<part name="parameters" element="tns:removeSubscription"/>
</message>
<message name="removeSubscriptionResponse">
<part name="parameters" element="tns:removeSubscriptionResponse"/>
</message>
<message name="addSubscriptionsToCustomers">
<part name="parameters" element="tns:addSubscriptionsToCustomers"/>
</message>
<message name="addSubscriptionsToCustomersResponse">
<part name="parameters" element="tns:addSubscriptionsToCustomersResponse"/>
</message>
<message name="removeSubscriptionsToCustomers">
<part name="parameters" element="tns:removeSubscriptionsToCustomers"/>
</message>
<message name="removeSubscriptionsToCustomersResponse">
<part name="parameters" element="tns:removeSubscriptionsToCustomersResponse"/>
</message>
<message name="getSubscriptionByTitle">
<part name="parameters" element="tns:getSubscriptionByTitle"/>
</message>
<message name="getSubscriptionByTitleResponse">
<part name="parameters" element="tns:getSubscriptionByTitleResponse"/>
</message>
<portType name="PublishBean">
<operation name="getAllSubscriptionsOfCustomer">
<input wsam:Action="http://ejb/PublishBean/getAllSubscriptionsOfCustomerRequest" message="tns:getAllSubscriptionsOfCustomer"/>
<output wsam:Action="http://ejb/PublishBean/getAllSubscriptionsOfCustomerResponse" message="tns:getAllSubscriptionsOfCustomerResponse"/>
</operation>
<operation name="getSubscriptionsByType">
<input wsam:Action="http://ejb/PublishBean/getSubscriptionsByTypeRequest" message="tns:getSubscriptionsByType"/>
<output wsam:Action="http://ejb/PublishBean/getSubscriptionsByTypeResponse" message="tns:getSubscriptionsByTypeResponse"/>
</operation>
<operation name="getAllSubscription">
<input wsam:Action="http://ejb/PublishBean/getAllSubscriptionRequest" message="tns:getAllSubscription"/>
<output wsam:Action="http://ejb/PublishBean/getAllSubscriptionResponse" message="tns:getAllSubscriptionResponse"/>
</operation>
<operation name="getAddressesByCity">
<input wsam:Action="http://ejb/PublishBean/getAddressesByCityRequest" message="tns:getAddressesByCity"/>
<output wsam:Action="http://ejb/PublishBean/getAddressesByCityResponse" message="tns:getAddressesByCityResponse"/>
</operation>
<operation name="getAddressesOfCustomer">
<input wsam:Action="http://ejb/PublishBean/getAddressesOfCustomerRequest" message="tns:getAddressesOfCustomer"/>
<output wsam:Action="http://ejb/PublishBean/getAddressesOfCustomerResponse" message="tns:getAddressesOfCustomerResponse"/>
</operation>
<operation name="getCustomersByLastName">
<input wsam:Action="http://ejb/PublishBean/getCustomersByLastNameRequest" message="tns:getCustomersByLastName"/>
<output wsam:Action="http://ejb/PublishBean/getCustomersByLastNameResponse" message="tns:getCustomersByLastNameResponse"/>
</operation>
<operation name="getCustomersByFirstName">
<input wsam:Action="http://ejb/PublishBean/getCustomersByFirstNameRequest" message="tns:getCustomersByFirstName"/>
<output wsam:Action="http://ejb/PublishBean/getCustomersByFirstNameResponse" message="tns:getCustomersByFirstNameResponse"/>
</operation>
<operation name="getAllCustomers">
<input wsam:Action="http://ejb/PublishBean/getAllCustomersRequest" message="tns:getAllCustomers"/>
<output wsam:Action="http://ejb/PublishBean/getAllCustomersResponse" message="tns:getAllCustomersResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://ejb/PublishBean/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://ejb/PublishBean/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
<operation name="updateCustomer">
<input wsam:Action="http://ejb/PublishBean/updateCustomerRequest" message="tns:updateCustomer"/>
<output wsam:Action="http://ejb/PublishBean/updateCustomerResponse" message="tns:updateCustomerResponse"/>
</operation>
<operation name="removeCustomer">
<input wsam:Action="http://ejb/PublishBean/removeCustomerRequest" message="tns:removeCustomer"/>
<output wsam:Action="http://ejb/PublishBean/removeCustomerResponse" message="tns:removeCustomerResponse"/>
</operation>
<operation name="addAddressOfCustomer">
<input wsam:Action="http://ejb/PublishBean/addAddressOfCustomerRequest" message="tns:addAddressOfCustomer"/>
<output wsam:Action="http://ejb/PublishBean/addAddressOfCustomerResponse" message="tns:addAddressOfCustomerResponse"/>
</operation>
<operation name="removeAddressOfCustomer">
<input wsam:Action="http://ejb/PublishBean/removeAddressOfCustomerRequest" message="tns:removeAddressOfCustomer"/>
<output wsam:Action="http://ejb/PublishBean/removeAddressOfCustomerResponse" message="tns:removeAddressOfCustomerResponse"/>
</operation>
<operation name="updateAddressOfCustomer">
<input wsam:Action="http://ejb/PublishBean/updateAddressOfCustomerRequest" message="tns:updateAddressOfCustomer"/>
<output wsam:Action="http://ejb/PublishBean/updateAddressOfCustomerResponse" message="tns:updateAddressOfCustomerResponse"/>
</operation>
<operation name="addSubscription">
<input wsam:Action="http://ejb/PublishBean/addSubscriptionRequest" message="tns:addSubscription"/>
<output wsam:Action="http://ejb/PublishBean/addSubscriptionResponse" message="tns:addSubscriptionResponse"/>
</operation>
<operation name="updateSubscription">
<input wsam:Action="http://ejb/PublishBean/updateSubscriptionRequest" message="tns:updateSubscription"/>
<output wsam:Action="http://ejb/PublishBean/updateSubscriptionResponse" message="tns:updateSubscriptionResponse"/>
</operation>
<operation name="removeSubscription">
<input wsam:Action="http://ejb/PublishBean/removeSubscriptionRequest" message="tns:removeSubscription"/>
<output wsam:Action="http://ejb/PublishBean/removeSubscriptionResponse" message="tns:removeSubscriptionResponse"/>
</operation>
<operation name="addSubscriptionsToCustomers">
<input wsam:Action="http://ejb/PublishBean/addSubscriptionsToCustomersRequest" message="tns:addSubscriptionsToCustomers"/>
<output wsam:Action="http://ejb/PublishBean/addSubscriptionsToCustomersResponse" message="tns:addSubscriptionsToCustomersResponse"/>
</operation>
<operation name="removeSubscriptionsToCustomers">
<input wsam:Action="http://ejb/PublishBean/removeSubscriptionsToCustomersRequest" message="tns:removeSubscriptionsToCustomers"/>
<output wsam:Action="http://ejb/PublishBean/removeSubscriptionsToCustomersResponse" message="tns:removeSubscriptionsToCustomersResponse"/>
</operation>
<operation name="getSubscriptionByTitle">
<input wsam:Action="http://ejb/PublishBean/getSubscriptionByTitleRequest" message="tns:getSubscriptionByTitle"/>
<output wsam:Action="http://ejb/PublishBean/getSubscriptionByTitleResponse" message="tns:getSubscriptionByTitleResponse"/>
</operation>
</portType>
<binding name="PublishBeanPortBinding" type="tns:PublishBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllSubscriptionsOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubscriptionsByType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressesByCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAddressesOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomersByLastName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomersByFirstName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAddressOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeAddressOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAddressOfCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSubscriptionsToCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeSubscriptionsToCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubscriptionByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PublishBeanService">
<port name="PublishBeanPort" binding="tns:PublishBeanPortBinding">
<soap:address location="http://localhost:8080/PublishBeanService/PublishBean"/>
</port>
</service>
</definitions>